.img{
  margin: 5px;
  color: transparent;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #0d6efd;
}
.fonticon{
  font-size: 20px;
  margin-bottom: 15px;
}
a{
  text-decoration: none;
  color: black;
  &:hover{
    color: gray;
  }
}
.active {
  color: cornflowerblue;
}