.img{
  margin: 5px;
  color: transparent;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #0d6efd;
}
.like{
  font-size: 16px;
  color: #0d6efd;
  margin-right: 10px;
}
.like2{
  font-size: 16px;
  color: white;
}
.location{
  font-size: 13px;
  color: darkgray;
  width: auto;
}
.see{
  float: left;
  font-size: 14px;
  color: #5c5b5b;
}
.icon{
  font-size: 17px;
  color: #5c5b5b;
  margin-left: 5px;
}
.gallery{
  margin: 5px;
  color: transparent;
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
.bar{
  position: relative;
  top: 5px;
  display: inline-flex;
  width: 80%;
}